#arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrows>i {
  display: flex;
  align-items: center;
  font-size: 5em !important;
  height: 1em;
  --default-opacity: 0.25;
  --fa-secondary-opacity: var(--default-opacity);
  position: relative;
  left: 0;
}

#keys>button {
  height: 25px;
}

#keys>button {
  width: 5em !important;
}

#keys>button:hover {
  background-color: purple;
}

#keys {
  display: flex;
  justify-content: center;
}